#about {
  background-image: url(../img/pravoslavie.jpg);
}
#about::after {
  background-image: url(../img/pravoslavie.jpg);
}

#join {
  background-image: url(../img/cars.jpg);
}
#join::after {
  background-image: url(../img/cars.jpg);
}
