#about,
#about::after {
  background-image: url();
}
#study,
#study::after {
  background-image: url();
}
#join,
#join::after {
  background-image: url();
}
body {
  background: #ed683f;
}
h1 {
  color: white;
}
