@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Sans+Pro:400,600,700,900&display=swap&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
}
a {
  text-decoration: none;
  color: black;
}

* {
  scroll-behavior: smooth;
}

.Index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  align-items: center;
  font-size: 1.3em;
  padding: 2.5em;
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 0.5vw;
    div {
      margin: 0.8em;
      padding: 0.7em;
      /* box-shadow: 0.05em 0.2em 1.5em rgba(34, 33, 33, 0.39); */
      &:first-of-type {
        background: #76db5f;
      }
      &:nth-of-type(2) {
        background: #c8c7f0;
      }
      &:nth-of-type(3) {
        background: #f1adad;
      }
      &:nth-of-type(4) {
        background: #f1f181;
      }
    }
  }

  h1 {
    font-size: calc(100% + 2.2vw);
  }
  a:before {
    content: '→ ';
    display: inline;
    top: 0;
    left: 0;
  }
}

@media (max-width: 650px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

footer {
  padding: 2em;
  align-items: center;
  font-size: 1.2em;
  word-spacing: 0.3em;
}

footer,
.Nav,
header {
  display: flex;
  justify-content: center;
  a:hover {
    text-decoration: underline;
  }
}

.Nav {
  width: auto;
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  border-bottom: 0.2em solid black;
  height: auto;
  z-index: 10;
  flex-direction: row;
  a {
    font-size: 1.5em;
    display: block;
    font-weight: 600;
    padding: 0.4em 0.8em;
    text-align: center;
    &:hover {
      color: #2c3e50;
    }
  }
  #checkbox {
    display: none;
  }
  label {
    display: none;
    font-size: 1.8em;
    margin-left: 0.2em;
  }
}

.Error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    text-align: center;
    color: black;
  }
  a {
    text-decoration: underline;
    font-size: 1.2em;
  }
  h1 {
    font-size: calc(100% + 6vw);
  }
}

@media (max-width: 838px) {
  .Nav {
    flex-direction: column;
    label {
      display: block;
    }
    a {
      display: none;
    }
    #checkbox:checked + label ~ a {
      display: block;
    }
  }
  #Header h1 {
    display: block;
    &:after {
      display: none;
    }
  }
}
