$bg: rgba(30, 63, 22, 0.4);

#media {
  #About {
    background-image: url('/mt/4.jpg');
  }
  #Header h1 {
    transition: 0.8s;
    cursor: pointer;
    &:hover {
      letter-spacing: 0.1em;
      transform: skewX(-15deg);
      text-shadow: 0.05em 0.05em red;
    }
  }
}

#mt {
  background-image: url('/bgs/mt.svg');
  background-color: $bg;
}
