#rt {
  background-image: url('/bgs/rt.gif');
  background-color: rgba(63, 22, 22, 0.4);
  background-size: cover;
}

#robot {
  #About {
    background-image: url('/rt/1.jpg');
  }
  #Header {
    background-image: url('/bgs/rt.gif');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    color: white;
    font-family: 'Press Start 2P', monospace;
    h1:hover {
      color: black;
      text-shadow: 0.1em 0.1em white;
      background: darkmagenta;
    }
  }
}
