#techk {
  #Header {
    h1 {
      color: #ffffff;
    }
    background-image: url('/tk/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #About {
    background-image: url('/tk/pravoslavie.jpg');
  }
}

#tk {
  background-image: url('/bgs/tk.svg');
  background-color: rgba(29, 27, 131, 0.4);
}
